.main {
  border: 1px solid black;
  padding: 20px 30px 20px 20px;
}

.footer--task {
  margin: 0px;
  display: flex;
  align-items: center;
  line-height: 1.1;
  font-weight: 500;
  gap: 0px;
  text-align: center;
  height: 30px;
  justify-content: space-evenly;
}

.footer--input {
  min-height: auto;
  min-width: 380px;
  height: 120%;
  margin: 5px;
}

.title {
  margin: 0px 0px 12px;
}

.footer--add-button {
  background-color: #acd3c0;
  font-style: italic;
}
